# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: monde-des-jouets
    database_user: phpmyadmin
    database_password: Alexsplif2209
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: 5749bf38781dcc2abdc01ce8a8943907b7fd0b86
    urlWoocommerce: 'http://monde-des-jouets.test/'
    consumerKeyWoocommerce: ck_18c059164664d2f46a038d906534c5b9b27fda1b
    consumerSecretWoocommerce: cs_1775965cf47d6f6cc249ab6b03e363d767e7e7fb